<h2>What's Social Brainstorming?</h2>
<p>
	Have an idea? Do you want to share with people around the World? Do you want any feedbacks? Share what you think, talk, react, create, everyone is waiting for you!
</p><br>
<p>
With Social Brainstorming, no idea will be forgoten, no problem won't be solved. Just write, speak, record or draw your idea. 
</p> 